* {padding:0; margin:0; font-family:sans-serif;}


/*navbar
**********************************************/

.navbar{
	position:fixed;

	text-align:center;

	z-index:1;


	background-color:rgb(15, 17, 2);

	height:50px;
	width:100%;
}

.navitem{
	margin:10px;
	margin-right:40px;
	margin-left:40px;
}

.navcontainer{
	position:relative;
	margin:15px auto;

	width:100%;
}

.underline{
	position:fixed;
	top:0;
	left:20%;
	width:60%;
	height:50px;
	border-bottom:1px solid #C8C8C8;

}

/*links
**********************************************/

a{
	text-decoration:none;
	color:#C8C8C8;
}

a:hover{
	color:white;
}

.sliding-under{
	position:relative;
    padding-bottom: 3px;
}
.sliding-under:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-under:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background: white;
    transition: width .5s ease;
}
.sliding-under:hover:before {
    width: 100%;
    background: white;
    transition: width .5s ease;
}
.sliding-under:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}



/*background-image
**********************************************/


.background-image-container{
	position:absolute;
	z-index:-1;
	top:0;
	height:600px;
	width:100%;
}

.background-image{
	position:relative;
	height:100%;
	width:100%;
	margin:0 auto;
}

/*title
**********************************************/

.title{
	position:relative;

	text-align:center;
	
	color:#C8C8C8;

	min-width:1000px;
	margin-top:200px;
}
.title-container{
	position:absolute;
	z-index:-1;
	top:0;
	height:600px;
	width:100%;
}

h1, h2{
	font-family:"Times New Roman", Times, serif;
}

h1{
	font-size:60px;
}


/*footer
**********************************************/


.rest{
	background-image:url("../img/big_forest_dirt2.jpg");
	position:absolute;
	top:590px;
	height:100%;
	width:100%;
	color:#0075C1;
}

.section1{
	position:relative;
	background-color:#FBFCF7;
	width:90%;
	height:500px;
	margin:5%;
	margin-top:20px;
	z-index:2;
}

.heading{
	margin-left:100px;
	margin-top:20px;
	font-size:50px;
	font-family:"Times New Roman", Times, serif;
	color:#C8C8C8;
}